footer{
font-size:0.85em;
text-align:center
}

.entries{
position:relative;
padding: 20px;
margin:20px;
background: white;
width:400px;
display: inline-block;
}
.entries img{
width:400px;
}
.entries h3{
position:relative;
bottom:-18px;
left:17px;
}

.entries a{
text-decoration:none;
color: #FFC192;
}
.entries a:hover{
text-decoration:none;
color: #2D98A6;
}